<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.RECORD_AUDIO"/><uses-permission android:name="android.permission.WAKE_LOCK"/>
 <queries><intent><action android:name="android.speech.RecognitionService"/></intent><intent><action android:name="android.intent.action.TTS_SERVICE"/></intent></queries>
 <application android:theme="@style/Theme.Padel" android:label="Padel Voice Score" android:allowBackup="true">
  <activity android:name=".MainActivity" android:screenOrientation="unspecified" android:exported="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
